* {
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}
ul .menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
ul li {
  padding: 15px;
}

.container {
  padding: 0 30px;
}

#news_box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}
.news {
  width: 300px;
}
